In [1]:
import csv
import numpy as np
import pandas as pd
import re
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [8]:
chat_data = pd.read_csv("./data/ChatbotData.csv" , encoding='utf-8')

In [9]:
chat_data.head(5)

                 Q            A  label
0           12시 땡!   하루가 또 가네요.      0
1      1지망 학교 떨어졌어    위로해 드립니다.      0
2     3박4일 놀러가고 싶다  여행은 언제나 좋죠.      0
3  3박4일 정도 놀러가고 싶다  여행은 언제나 좋죠.      0
4          PPL 심하네   눈살이 찌푸려지죠.      0

In [10]:
chat_data = chat_data.drop(['label'], axis=1)
chat_data.head(5)

                 Q            A
0           12시 땡!   하루가 또 가네요.
1      1지망 학교 떨어졌어    위로해 드립니다.
2     3박4일 놀러가고 싶다  여행은 언제나 좋죠.
3  3박4일 정도 놀러가고 싶다  여행은 언제나 좋죠.
4          PPL 심하네   눈살이 찌푸려지죠.

In [12]:
chat_data['Q'] = chat_data['Q'].str.replace('[^\w]', ' ')
chat_data['A'] = chat_data['A'].str.replace('[^\w]', ' ')

In [19]:
chat_data.head(5)

                 Q            A
0           12시 땡    하루가 또 가네요
1      1지망 학교 떨어졌어    위로해 드립니다
2     3박4일 놀러가고 싶다  여행은 언제나 좋죠
3  3박4일 정도 놀러가고 싶다  여행은 언제나 좋죠
4          PPL 심하네   눈살이 찌푸려지죠

In [16]:
encoder_input, decoder_input, decoder_output = [], [], []

for stc in chat_data['Q']:
    encoder_input.append(stc.split())
    
for stc in chat_data['A']:
    decoder_input.append(("<start> "+stc).split())
    
for stc in chat_data['A']:
    decoder_output.append((stc+" <end>").split())

In [ ]:
tokenizer1 = Tokenizer()
tokenizer1.fit_on_texts(encoder_input)
encoder_input = tokenizer1.texts_to_sequences(encoder_input)

tokenizer2 = Tokenizer()
tokenizer2.fit_on_texts(decoder_input)
tokenizer2.fit_on_texts(decoder_output)
decoder_input = tokenizer2.texts_to_sequences(decoder_input)
decoder_output = tokenizer2.texts_to_sequences(decoder_output)