#### 유튜브 추천 시스템

In [2]:
import pandas as pd
movies = pd.read_csv("./data/movies.csv")
ratings = pd.read_csv("./data/ratings.csv")

movie_ratings = pd.merge(movies, ratings, on='movieId')
print(movie_ratings)

        movieId                                              title  \
0             1                                   Toy Story (1995)
1             1                                   Toy Story (1995)
2             1                                   Toy Story (1995)
3             1                                   Toy Story (1995)
4             1                                   Toy Story (1995)
...         ...                                                ...
99999    161944              The Last Brickmaker in America (2001)
100000   162376                                    Stranger Things
100001   162542                                      Rustom (2016)
100002   162672                                Mohenjo Daro (2016)
100003   163949  The Beatles: Eight Days a Week - The Touring Y...

                                             genres  userId  rating  \
0       Adventure|Animation|Children|Comedy|Fantasy       7     3.0
1       Adventure|Animation|Children|Comedy|Fantasy       9     4.0
2       Adventure|Animation|Children|Comedy|Fantasy      13     5.0
3       Adventure|Animation|Children|Comedy|Fantasy      15     2.0
4       Adventure|Animation|Children|Comedy|Fantasy      19     3.0
...                                             ...     ...     ...
99999                                         Drama     287     5.0
100000                                        Drama      73     4.5
100001                             Romance|Thriller     611     5.0
100002                      Adventure|Drama|Romance     611     3.0
100003                                  Documentary     547     5.0

         timestamp
0        851866703
1        938629179
2       1331380058
3        997938310
4        855190091
...            ...
99999   1470167824
100000  1474255532
100001  1471520667
100002  1471523986
100003  1476419239

[100004 rows x 6 columns]

In [4]:
import numpy as np

movie_ratings['movie_type'] = np.where(movie_ratings['rating'] >= 3, 'like', 'dislike')
print(movie_ratings)

        movieId                                              title  \
0             1                                   Toy Story (1995)
1             1                                   Toy Story (1995)
2             1                                   Toy Story (1995)
3             1                                   Toy Story (1995)
4             1                                   Toy Story (1995)
...         ...                                                ...
99999    161944              The Last Brickmaker in America (2001)
100000   162376                                    Stranger Things
100001   162542                                      Rustom (2016)
100002   162672                                Mohenjo Daro (2016)
100003   163949  The Beatles: Eight Days a Week - The Touring Y...

                                             genres  userId  rating  \
0       Adventure|Animation|Children|Comedy|Fantasy       7     3.0
1       Adventure|Animation|Children|Comedy|Fantasy       9     4.0
2       Adventure|Animation|Children|Comedy|Fantasy      13     5.0
3       Adventure|Animation|Children|Comedy|Fantasy      15     2.0
4       Adventure|Animation|Children|Comedy|Fantasy      19     3.0
...                                             ...     ...     ...
99999                                         Drama     287     5.0
100000                                        Drama      73     4.5
100001                             Romance|Thriller     611     5.0
100002                      Adventure|Drama|Romance     611     3.0
100003                                  Documentary     547     5.0

         timestamp movie_type
0        851866703       like
1        938629179       like
2       1331380058       like
3        997938310    dislike
4        855190091       like
...            ...        ...
99999   1470167824       like
100000  1474255532       like
100001  1471520667       like
100002  1471523986       like
100003  1476419239       like

[100004 rows x 7 columns]

#### 정수인코딩

In [9]:
user_ids = movie_ratings['userId'].unique().tolist()
# print(user_ids)

user_to_index = {x: i for i, x in enumerate(user_ids)}
index_to_user = {i: x for i, x in enumerate(user_ids)}
# print(user_to_index)

movie_ids = movie_ratings['movieId'].unique().tolist()
movie_to_index = {x: i for i, x in enumerate(movie_ids)}
index_to_movie = {i: x for i, x in enumerate(movie_ids)}

movie_ratings['userId'] = movie_ratings['userId'].map(user_to_index)
movie_ratings['movieId'] = movie_ratings['movieId'].map(movie_to_index)

In [10]:
print(movie_ratings)

        movieId                                              title  \
0             0                                   Toy Story (1995)
1             0                                   Toy Story (1995)
2             0                                   Toy Story (1995)
3             0                                   Toy Story (1995)
4             0                                   Toy Story (1995)
...         ...                                                ...
99999      9061              The Last Brickmaker in America (2001)
100000     9062                                    Stranger Things
100001     9063                                      Rustom (2016)
100002     9064                                Mohenjo Daro (2016)
100003     9065  The Beatles: Eight Days a Week - The Touring Y...

                                             genres  userId  rating  \
0       Adventure|Animation|Children|Comedy|Fantasy       0     3.0
1       Adventure|Animation|Children|Comedy|Fantasy       1     4.0
2       Adventure|Animation|Children|Comedy|Fantasy       2     5.0
3       Adventure|Animation|Children|Comedy|Fantasy       3     2.0
4       Adventure|Animation|Children|Comedy|Fantasy       4     3.0
...                                             ...     ...     ...
99999                                         Drama      89     5.0
100000                                        Drama      21     4.5
100001                             Romance|Thriller     537     5.0
100002                      Adventure|Drama|Romance     537     3.0
100003                                  Documentary     183     5.0

         timestamp movie_type
0        851866703       like
1        938629179       like
2       1331380058       like
3        997938310    dislike
4        855190091       like
...            ...        ...
99999   1470167824       like
100000  1474255532       like
100001  1471520667       like
100002  1471523986       like
100003  1476419239       like

[100004 rows x 7 columns]

In [12]:
# 사용자 마다 어떤 영상을 좋아했고, 싫어했고, 시청했는지
# 사용자 히스토리 만드는 중...
movie_list = movie_ratings.groupby(['userId', 'movie_type'])['movieId'].apply(list).reset_index()
title_list = movie_ratings.groupby(['userId'])['movieId'].apply(list).reset_index()

print(movie_list)
print(title_list)

      userId movie_type                                            movieId
0          0    dislike         [174, 282, 610, 617, 618, 650, 1113, 1143]
1          0       like  [0, 9, 20, 30, 32, 38, 96, 100, 102, 122, 130,...
2          1    dislike                      [615, 1231, 1815, 1936, 2035]
3          1       like  [0, 16, 25, 34, 45, 284, 444, 461, 472, 478, 5...
4          2    dislike                                   [45, 1019, 3427]
...      ...        ...                                                ...
1099     574       like  [856, 941, 1154, 1185, 1269, 1285, 1288, 1289,...
1100     575    dislike         [1454, 1472, 1473, 1568, 1587, 1685, 1741]
1101     575       like  [1448, 1450, 1453, 1456, 1458, 1462, 1480, 148...
1102     576    dislike               [1765, 1817, 1836, 1865, 1894, 1895]
1103     576       like  [1763, 1798, 1802, 1825, 1832, 1833, 1842, 184...

[1104 rows x 3 columns]
     userId                                            movieId
0         0  [0, 9, 20, 30, 32, 38, 96, 100, 102, 122, 130,...
1         1  [0, 16, 25, 34, 45, 284, 444, 461, 472, 478, 5...
2         2  [0, 45, 100, 249, 266, 284, 321, 326, 427, 470...
3         3  [0, 1, 4, 5, 9, 10, 13, 15, 16, 18, 20, 21, 24...
4         4  [0, 1, 2, 3, 5, 6, 8, 9, 10, 13, 15, 20, 21, 2...
..      ...                                                ...
572     572  [723, 951, 1288, 1691, 2098, 2553, 3113, 3145,...
573     573  [829, 954, 966, 1523, 1590, 2608, 2705, 2884, ...
574     574  [856, 941, 1154, 1185, 1197, 1257, 1269, 1285,...
575     575  [1448, 1450, 1453, 1454, 1456, 1458, 1462, 147...
576     576  [1763, 1765, 1798, 1802, 1817, 1825, 1832, 183...

[577 rows x 2 columns]

In [13]:
user_movie_list = movie_list.pivot(index='userId', columns='movie_type', values='movieId').reset_index()
print(user_movie_list)

movie_type  userId                                            dislike  \
0                0         [174, 282, 610, 617, 618, 650, 1113, 1143]
1                1                      [615, 1231, 1815, 1936, 2035]
2                2                                   [45, 1019, 3427]
3                3  [0, 1, 10, 13, 18, 21, 34, 37, 49, 58, 65, 87,...
4                4  [22, 60, 145, 151, 156, 158, 185, 238, 248, 33...
..             ...                                                ...
572            572                           [1691, 3182, 3194, 3195]
573            573                [954, 2884, 4066, 4157, 4336, 4378]
574            574                           [1197, 1257, 1332, 1354]
575            575         [1454, 1472, 1473, 1568, 1587, 1685, 1741]
576            576               [1765, 1817, 1836, 1865, 1894, 1895]

movie_type                                               like
0           [0, 9, 20, 30, 32, 38, 96, 100, 102, 122, 130,...
1           [0, 16, 25, 34, 45, 284, 444, 461, 472, 478, 5...
2           [0, 100, 249, 266, 284, 321, 326, 427, 470, 47...
3           [4, 5, 9, 15, 16, 20, 24, 31, 32, 42, 45, 48, ...
4           [0, 1, 2, 3, 5, 6, 8, 9, 10, 13, 15, 20, 21, 2...
..                                                        ...
572         [723, 951, 1288, 2098, 2553, 3113, 3145, 3169,...
573         [829, 966, 1523, 1590, 2608, 2705, 3212, 3405,...
574         [856, 941, 1154, 1185, 1269, 1285, 1288, 1289,...
575         [1448, 1450, 1453, 1456, 1458, 1462, 1480, 148...
576         [1763, 1798, 1802, 1825, 1832, 1833, 1842, 184...

[577 rows x 3 columns]

In [14]:
# 결측치 => 사용자가 아무런 영상도 보지 않았을 때
# 결측치가 있을수가 있으므로 값을 채워주자 => 아무영화도 추천할 수 없음에 대한 index=9066
# 9065 => 9065인덱스를 가진 영화를 추천
# fillna => 결측치값은 모두 [9066]으로 임의의 영화를 넣어줌.

user_movie_list.fillna(9066, inplace=True)
user_movie_list['like'] = user_movie_list['like'].apply(lambda x: x if type(x) is list else [x])
user_movie_list['dislike'] = user_movie_list['dislike'].apply(lambda x: x if type(x) is list else [x])

In [16]:
user_final_list = pd.merge(user_movie_list, title_list, how='left')
# 신경망에 넣으려먼 x값에 따른 y값이 있어야한다.
# x값(유저히스토리) => y값(유저가 다음으로 볼 영상의 인덱스값)
# 사용자가 마지막으로 좋아요를 누른 영화를 빼내서 y값으로 지정

user_final_list['predict_labels'] = user_final_list['like'].apply(lambda x: (x[-1]))
user_final_list['like'] = user_final_list['like'].apply(lambda x: (x[:-1]))
print(user_final_list)

     userId                                            dislike  \
0         0         [174, 282, 610, 617, 618, 650, 1113, 1143]
1         1                      [615, 1231, 1815, 1936, 2035]
2         2                                   [45, 1019, 3427]
3         3  [0, 1, 10, 13, 18, 21, 34, 37, 49, 58, 65, 87,...
4         4  [22, 60, 145, 151, 156, 158, 185, 238, 248, 33...
..      ...                                                ...
572     572                           [1691, 3182, 3194, 3195]
573     573                [954, 2884, 4066, 4157, 4336, 4378]
574     574                           [1197, 1257, 1332, 1354]
575     575         [1454, 1472, 1473, 1568, 1587, 1685, 1741]
576     576               [1765, 1817, 1836, 1865, 1894, 1895]

                                                  like  \
0    [0, 9, 20, 30, 32, 38, 96, 100, 102, 122, 130,...
1    [0, 16, 25, 34, 45, 284, 444, 461, 472, 478, 5...
2    [0, 100, 249, 266, 284, 321, 326, 427, 470, 47...
3    [4, 5, 9, 15, 16, 20, 24, 31, 32, 42, 45, 48, ...
4    [0, 1, 2, 3, 5, 6, 8, 9, 10, 13, 15, 20, 21, 2...
..                                                 ...
572  [723, 951, 1288, 2098, 2553, 3113, 3145, 3169,...
573  [829, 966, 1523, 1590, 2608, 2705, 3212, 3405,...
574  [856, 941, 1154, 1185, 1269, 1285, 1288, 1289,...
575  [1448, 1450, 1453, 1456, 1458, 1462, 1480, 148...
576  [1763, 1798, 1802, 1825, 1832, 1833, 1842, 184...

                                               movieId  predict_labels
0    [0, 9, 20, 30, 32, 38, 96, 100, 102, 122, 130,...            1140
1    [0, 16, 25, 34, 45, 284, 444, 461, 472, 478, 5...            2287
2    [0, 45, 100, 249, 266, 284, 321, 326, 427, 470...            7993
3    [0, 1, 4, 5, 9, 10, 13, 15, 16, 18, 20, 21, 24...            9052
4    [0, 1, 2, 3, 5, 6, 8, 9, 10, 13, 15, 20, 21, 2...            3851
..                                                 ...             ...
572  [723, 951, 1288, 1691, 2098, 2553, 3113, 3145,...            3210
573  [829, 954, 966, 1523, 1590, 2608, 2705, 2884, ...            4139
574  [856, 941, 1154, 1185, 1197, 1257, 1269, 1285,...            1364
575  [1448, 1450, 1453, 1454, 1456, 1458, 1462, 147...            1739
576  [1763, 1765, 1798, 1802, 1817, 1825, 1832, 183...            1902

[577 rows x 5 columns]