In [1]:
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential, Model
from tensorflow.keras.layers import Embedding, Conv1D, GlobalMaxPool1D
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint

In [3]:
import pandas as pd
import numpy as np

news_data = pd.read_json('./data/News_Category_Dataset_v2.json', lines=True)

In [5]:
news_data.head(5)

        category  ...       date
0          CRIME  ... 2018-05-26
1  ENTERTAINMENT  ... 2018-05-26
2  ENTERTAINMENT  ... 2018-05-26
3  ENTERTAINMENT  ... 2018-05-26
4  ENTERTAINMENT  ... 2018-05-26

[5 rows x 6 columns]

In [7]:
news_data = news_data.loc[:,['category', 'headline']]
news_data.head(5)

        category                                           headline
0          CRIME  There Were 2 Mass Shootings In Texas Last Week...
1  ENTERTAINMENT  Will Smith Joins Diplo And Nicky Jam For The 2...
2  ENTERTAINMENT    Hugh Grant Marries For The First Time At Age 57
3  ENTERTAINMENT  Jim Carrey Blasts 'Castrato' Adam Schiff And D...
4  ENTERTAINMENT  Julianna Margulies Uses Donald Trump Poop Bags...

In [11]:
news_data['category'] = news_data['category'].replace(['POLITICS':'WEIRD NEWS'], [0:10])

SyntaxError: invalid syntax (<ipython-input-11-daff1594852d>, line 1)

In [13]:
category_lst = pd.factorize(news_data['category'])[1]
news_data['category'] = pd.factorize(news_data['category'])[0]

print(category_lst)
print(news_data)

Index(['CRIME', 'ENTERTAINMENT', 'WORLD NEWS', 'IMPACT', 'POLITICS',
       'WEIRD NEWS', 'BLACK VOICES', 'WOMEN', 'COMEDY', 'QUEER VOICES',
       'SPORTS', 'BUSINESS', 'TRAVEL', 'MEDIA', 'TECH', 'RELIGION', 'SCIENCE',
       'LATINO VOICES', 'EDUCATION', 'COLLEGE', 'PARENTS', 'ARTS & CULTURE',
       'STYLE', 'GREEN', 'TASTE', 'HEALTHY LIVING', 'THE WORLDPOST',
       'GOOD NEWS', 'WORLDPOST', 'FIFTY', 'ARTS', 'WELLNESS', 'PARENTING',
       'HOME & LIVING', 'STYLE & BEAUTY', 'DIVORCE', 'WEDDINGS',
       'FOOD & DRINK', 'MONEY', 'ENVIRONMENT', 'CULTURE & ARTS'],
      dtype='object')
        category                                           headline
0              0  There Were 2 Mass Shootings In Texas Last Week...
1              1  Will Smith Joins Diplo And Nicky Jam For The 2...
2              1    Hugh Grant Marries For The First Time At Age 57
3              1  Jim Carrey Blasts 'Castrato' Adam Schiff And D...
4              1  Julianna Margulies Uses Donald Trump Poop Bags...
...          ...                                                ...
200848        14  RIM CEO Thorsten Heins' 'Significant' Plans Fo...
200849        10  Maria Sharapova Stunned By Victoria Azarenka I...
200850        10  Giants Over Patriots, Jets Over Colts Among  M...
200851        10  Aldon Smith Arrested: 49ers Linebacker Busted ...
200852        10  Dwight Howard Rips Teammates After Magic Loss ...

[200853 rows x 2 columns]

In [ ]:
from sklearn.model_selection import train_test_split